div.sharock-badge
  h2 Badge

  p If you want to use status badges, please add this code snipet yor README.md.

  p
    img(:src="statusBadgeUrl")
    textarea
      | [![Dependency Status](https://shards.rocks/badge/github/<your-github-name>/<your-repository-name>/status.svg)](https://shards.rocks/github/<your-github-name>/<your-repository-name>)

  p
    img(:src="devStatusBadgeUrl")
    textarea
      | [![devDependency Status](https://shards.rocks/badge/github/<your-github-name>/<your-repository-name>/dev_status.svg)](https://shards.rocks/github/<your-github-name>/<your-repository-name>)
