div.sharock-badge
  h2 Badge

  p If you want to use status badges, please add this code snipet into your README.md.

  p
    img(:src="statusBadgeUrl")
    textarea
      | [![Dependency Status](https://shards.rocks/badge/{{ host }}/{{ owner }}/{{ repo }}/status.svg)](https://shards.rocks/{{ host }}/{{ owner }}/{{ repo }})

  p
    img(:src="devStatusBadgeUrl")
    textarea
      | [![devDependency Status](https://shards.rocks/badge/{{ host }}/{{ owner }}/{{ repo }}/dev_status.svg)](https://shards.rocks/{{ host }}/{{ owner }}/{{ repo }})
