div.sharock-repo-badge
  span.sharock-repo-badge-status
    a(v-link="badgePath")
      img(:src="statusBadgeUrl")

  span.sharock-repo-badge-dev-status
    a(v-link="badgePath")
      img(:src="devStatusBadgeUrl")
