div.sharock-about
  h2 About

  p Shards Rocks is a service that manages dependencies inspired by #[a(href="https://gemnasium.com/") Gemnasium] and #[a(href="https://david-dm.org/") David].
  p Shards Rocks has built on #[a(href="http://crystal-lang.org/") Crystal] and #[a(href="https://github.com/sdogruyol/kemal") kemal].
