div.sharock-header
  header
    div.menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
      div.menu-inner
        a.heading.pure-menu-heading(v-link="'/'")
          | Shards
          i.fa.fa-bolt
          | Rocks

        // TODO: create later
        // ul.sub-menu.pure-menu-list
        //   li.sub-menu-item.pure-menu-item
        //     a.pure-menu-link(v-link="'/'") Index
        //
        //   li.sub-menu-item.pure-menu-item
        //     a.pure-menu-link(v-link="'/about'") About
