header
  div.pure-menu.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading
      | Sharock

    ul.pure-menu-list
      li.pure-menu-item.pure-menu-selected
        a.pure-menu-link(v-link="{ path: '/' }") Index

      li.pure-menu-item
        a.pure-menu-link(v-link="{ path: '/about' }") About
