div.sharock-footer
  p.pull-left
    | Copyright (C) 2016 Shards Rocks.

  p.pull-right
    a(href="https://github.com/shardsrocks/sharock") GitHub
    a(href="https://github.com/shardsrocks/sharock/issues") Issues
