div.sharock-footer
  p.pull-left
    | Shards Rocks Community 2023. Thanks to
    a(href="https://github.com/pine" style="text-transform: lowercase; margin-left: 0;") @pine <3
    | . Maintained and hosted by
    a(href="https://github.com/faustinoaq" style="text-transform: lowercase; margin-left: 0;") @faustinoaq
    | .

  p.pull-right
    a(href="https://shardsrocks.statuscast.com/") Status
    a(href="https://github.com/shardsrocks") GitHub
    a(href="https://github.com/shardsrocks/sharock/issues") Issues
