div.sharock-repo
  h2(v-cloak)
    a.sharock-repo-host(:href="hostLink")
      i.fa.fa-github(v-show="github")
      i.fa.fa-bitbucket(v-show="bitbucket")

    a.sharock-owner-link(:href="ownerLink")
      span.sharock-repo-owner {{ owner }}

    | /

    a.sharock-repo-link(:href="repoLink")
      span.sharock-repo-repo {{ repo }}


  div.sharock-repo-syncing(v-show="syncing")
    sharock-syncing

  div(v-else)
    p.sharock-repo-description
      // FIXME: temporary value
      | {{ repo }}'s dependencies

    h3
      span.inner
        i.fa.fa-cogs
        | Dependencies

    sharock-dependencies(:deps="deps")

    h3
      span.inner
        i.fa.fa-code
        | Development dependencies

    sharock-dependencies(:deps="devDeps")
