@import "../../layouts/colors.less";

.sharock-repo {
  margin: 100px auto 0;
  width: 800px;

  h3 {
    margin-top: 52px;

    .inner {
      display: inline-block;
      margin-left: 12px;
      padding: 7px 10px;
      background-color: @color-primary-0;
      color: #fff;
      font-size: 18px;

      i {
        margin-right: 8px;
      }
    }
  }

  .sharock-repo-description {
    position: relative;

    p {
      padding-left: 14px;
    }

    .sharock-repo-repo-badge {
      position: absolute;
      top: 0;
      right: 14px;
    }
  }

  .sharock-repo-syncing {
    padding: 100px 0 60px;
    text-align: center;
  }
}
