div.sharock-repo
  h2(v-cloak)
    a.sharock-repo-host(:href="hostLink")
      i.fa.fa-github(v-show="github")
      i.fa.fa-bitbucket(v-show="bitbucket")

    a.sharock-owner-link(:href="ownerLink")
      span.sharock-repo-owner {{ owner }}

    | /

    a.sharock-repo-link(:href="repoLink")
      span.sharock-repo-repo {{ repo }}


  p.sharock-repo-description
    // FIXME: temporary value
    | {{ repo }}'s dependencies

  h3
    span.inner
      i.fa.fa-cogs
      | Dependencies

  sharock-dependencies

  h3
    span.inner
      i.fa.fa-code
      | Development dependencies

  sharock-dependencies

  // img(src="/assets/img/loading.gif")
