div.sharock-repo
  div.sharock-repo-repo-header
    sharock-repo-header

  div.sharock-repo-syncing(v-show="syncing")
    sharock-syncing

  div(v-else)
    div.sharock-repo-description
      p
        | {{ repo }}'s dependencies.

      div.sharock-repo-repo-badge
        sharock-repo-badge(:status-badge-url="statusBadgeUrl", :dev-status-badge-url="devStatusBadgeUrl")

    h3
      span.inner
        i.fa.fa-cogs
        | Dependencies

    sharock-dependencies(:deps="deps")

    h3
      span.inner
        i.fa.fa-code
        | Development dependencies

    sharock-dependencies(:deps="devDeps")
