div.sharock-dependencies
  div.sharock-dependencies-none(v-cloak, v-show="isEmpty")
    | None

  table.sharock-dependencies-table.pure-table(v-cloak, v-else)
    thead
      tr
        th Dependency
        th Required
        th Matched
        th Latest
        th Status
    tfoot
    tbody
      tr(v-cloak, v-for="dep in deps")
        td {{ dep.name }}
        td {{ dep.requiredVersion }}
        td {{ dep.matchedVersion }}
        td {{ dep.latestVersion }}
        td
          sharock-status-icon(:status="dep.status")

