div.sharock-dependencies
  table.sharock-dependencies-table.pure-table
    thead
      tr
        th Dependency
        th Required
        th Matched
        th Latest
        th Status
    tfoot
    tbody
      tr
        th dummy
        th ~> 0.1.0
        th 0.1.0
        th 0.1.0
        th
          sharock-status-icon(status="success")
      tr
        th dummy
        th ~> 0.1.0
        th 0.1.0
        th 0.1.0
        th
          sharock-status-icon(status="warning")
      tr
        th dummy
        th ~> 0.1.0
        th 0.1.0
        th 0.1.0
        th
          sharock-status-icon(status="error")
